/* Elements styles*/
body {
	font-family: Arial;
    background-image: url("Campus_CKB_clock.jpg");
    background-size: cover;
    background-blend-mode:luminosity;
    margin: 0;
    padding: 0;
}

header {
    background-color: aqua;
    background-image: url("Campus_CKB_clock.jpg");
    background-size: cover;
    padding-top: 1px;
    padding-bottom: 1px;
}
header h2{
    text-align: center;
    color: white;
}
#nav_menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

#nav_menu li{
    display: inline-block;
}

#nav_menu a{
    text-decoration: none;
    color: white;
    width: 100px;
    display: block;
    padding: 20px 20px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    background-color: #c21212;
   
}

#nav_menu a:hover{
    background: yellow;
}


/*
#nav_menu ul li {
	float: left;
    width: 20%;                 
}

#nav_menu ul li a {
    display: block;
    text-align: center;
    padding: 1em 0;
    text-decoration: none;
    background-color: #800000;
    color: white;
    font-weight: bold;
}

#nav_menu a.current {
	color: rgb(230, 239, 66);
}
#nav_menu ul ul {
	width: 100%;
    display: none;
    position: absolute;
    top: 100%;
}
#nav_menu ul ul li {
	float: none;
}
#nav_menu ul li:hover > ul {
	display: block;
}
#nav_menu > ul::after {
    content: "";
    clear: both;
    display: block;
}
*/